* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FF3A3A;
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
}

.calculator {
    margin: 0 auto;
    height: 780px;
    width: 360px;
    border-radius: 28px;
    background: linear-gradient(rgba(46, 46, 46, 1),rgba(36, 36, 36, 0.87));
    box-shadow: 4px 6px 16px black;  
    display: flex;
    flex-direction: column;
}


.calculator__buttons {
    display: flex;
    flex-direction: column;
}
